.homeTitle {
font-size: 95px;
font-weight: bold;
width: 87%;
text-align: left;
margin: auto;
line-height: .5;
padding: 30px
}

.homeTitleDescript {
 font-size: 48px;
letter-spacing: 11px;
font-weight: 400;
}

@media (max-width: 1600px) {

}

@media (max-width: 1200px) {
.homeTitle {
  font-size: 70px;
}
.homeTitleDescript {
  font-size: 30px;
}

}


@media (max-width: 900px) {

.homeTitle {
  font-size: 60px;
}

.homeTitleDescript {
  font-size: 23px;
  letter-spacing: 10.7px;
}
}

@media (max-width: 800px) {
 
  .homeTitle {
    font-size: 55px;
    text-align: center;
  }
  
  .homeTitleDescript {
    font-size: 19.3px;
  }
}


@media (max-width: 700px) {
 

  .homeTitle {
    font-size: 55px;
  }

  .homeTitleDescript {
    font-size: 19.3px;
  }
  
}
@media (max-width: 650px) {


  .homeTitle {
    font-size: 50px;
  }

  .homeTitleDescript {
    font-size: 18px;
    letter-spacing: 9.6px;
  }

  
}
@media (max-width: 600px) {
  .homeTitle {
    font-size: 45px;
    width: 100%;
    text-align: center;
  }

  
  .homeTitleDescript {
    font-size: 18px;
    letter-spacing: 7.7px;
  }
}

@media (max-width: 550px) {
  .homeTitle {
    font-size: 40px;
  }

  .homeTitleDescript {
    font-size: 18px;
    letter-spacing: 5.7px;
  }
}


@media (max-width: 400px) {
  .homeTitle {
    font-size: 35px;
  }

  .homeTitleDescript {
    font-size: 18px;
    letter-spacing: 4px;
  }
}
@media (max-width: 350px) {
  .homeTitle {
    font-size: 30px;
  }

  .homeTitleDescript {
    font-size: 18px;
    letter-spacing: 2px;
  }
}