.homePage {
  position: relative;
  color: #0e1d30;
  background-color:#dfdddd;
}
.projects {
  margin: 20px;
  display: flex;
  gap: 20px;
}
.project {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.projectDescript {
  padding: 10px;
  margin-bottom: 0;
}
.projectImg {
padding: 10px;
background-color: #0e1d30;
}

.homeTitle {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 30px 10px 20px 10px;
  letter-spacing: 8px;
}

.homeGrid {
  display: grid;
  grid-template-areas:
    "about img"
  ;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(0px, auto);
  padding: 50px;
  padding-bottom: 0px;
  column-gap: 100px; 
  margin: 0; 
}

.homeImgContainer {
  grid-area: img;
  width: 70%;
  margin: auto;
}

.homeImg {
  display: flex;
  border: 0.5px solid rgb(92, 90, 90);
 box-shadow: 1px 2px 12px rgb(31, 29, 29);
  border-radius: 90px;
}

.name {
 color: white;
  margin: 10px 5px 0px 5px ;
}

.homeIntroCard {
  grid-area: about;
  margin: auto;
  display: flex;
  align-items: center;
}

.homeIntro {
  font-size: 27px;
  color: white;
  box-shadow: 1px 2px 12px rgb(31, 29, 29);
 border-radius: 90px;

  padding: 150px;
  margin: auto;
  line-height: 33px;
  
}
.gradientsection {
background-image: linear-gradient(to bottom right,
      rgb(7, 13, 29),
      rgb(35, 104, 101));
      padding-top: 200px;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.nextImgContainer {
  width: 18%;
  margin: 20px 30px;
}
.reactImgContainer {
  width: 27%;
  margin: 20px 30px;
}
.htmlImgContainer {
  width: 17%;
  margin: 20px 30px;
}
.cssImgContainer {
  width: 17%;
  margin: 20px 30px;
}
.jsImgContainer {
  width: 18%;
  margin: 20px 30px;
}
.gitImgContainer {
width: 24%;
  margin: 20px 30px;
}
.nodeImgContainer {
width: 20%;
  margin: 20px 30px;
  background-color: #EFEFEF;
}
.pythonImgContainer {
width: 19%;
  margin: 20px 30px;
}

.formContainer {
  display: flex;
  width: 80%;
  padding: 80px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(7, 13, 29);
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  padding: 50px;
  width: 100%;
  border-radius: 90px;
  box-shadow: 1px 3px 10px rgb(35, 104, 101);
}

.field {
  margin: 15px;
  background-color: rgb(230, 229, 227);
  padding: 15px;
  text-align: left;
  border: 1px solid rgb(7, 13, 29);
  width: 100%; 
  font-size: 18px;
}

.messageField {
  height: 200px;
  margin: 15px;
  background-color: rgb(230, 229, 227);
  padding: 15px;
  text-align: left;
  border: 1px solid rgb(7, 13, 29);
  width: 100%;
  font-size: 18px;
}

.send {
  margin: 20px;
  padding: 15px;
  width: 200px;
  background-color: rgb(230, 229, 227);
  cursor: pointer;
  color: rgb(7, 13, 29);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  color: rgb(7, 13, 29);
  justify-content: center;
  align-items: center;
  padding: 100px;
}

@media (max-width: 2000px) {
  .homeIntro {
    padding: 100px;
    font-size: 25px;
  }
}

@media (max-width: 1800px) {
  .homeIntro {
    padding: 60px;
  }
  .homeIntroCard {
    margin: 0;
  }
  .homeImgContainer {
    width: 80%;
  }
}

@media (max-width: 1650px) {
  .homeIntro {
    font-size: 24px;
  }
}

@media (max-width: 1500px) {
  
  .homeIntro {
    font-size: 22px;
  }
  .homeTitle {
    letter-spacing: 6px;
  }
  .homeGrid {
    gap: 20px 50px;
  }
}

@media (max-width: 1400px) {
  .homeTitle {
    letter-spacing: 5px;
  }
}

@media (max-width: 1300px) {

  .homeTitle {
    letter-spacing: 3px;
  }
}

@media (max-width: 1200px) {
  .homeTitle {
    letter-spacing: 2px;
  }

  .homeIntro {
    padding: 40px;
  }
}

@media (max-width: 1150px) {
  .homeIntroCard {
    margin: 0;
  }
  .homeTitle {
    font-size: 35px;
  }
  .homeIntro {
    font-size: 22px;
    padding: 40px;
    line-height: 25px;
  } 
  .homeGrid {
    grid-template-areas:
      "img about"
      "pro pro"
      ;
    grid-template-columns: 1fr 1.5fr;
  }
  .homeImgContainer {
    width: 100%;
  }
  .gradientsection {
    padding-top: 150px;
  }
}

@media (max-width: 1050px) {
  .homeTitle {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .homeTitle {
    padding-bottom: 40px;
  }
}

@media (max-width: 950px) {
  .homeIntro {
    font-size: 20px;
  }
  .homeTitle {
    font-size: 28px;
  }
  .homeGrid{
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
  }
}

@media (max-width: 900px) {
  .homeIntro {
    line-height: 20px;
  }
}

@media (max-width: 800px) {
  .homeGrid {
    grid-template-areas:
      "img"
      "about"
      "pro"
      ;
    grid-template-columns: 100%;
    padding: 10px;
    padding-bottom: 50px;
  }
  .homeImgContainer {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 40px;
  }
  .homeIntroCard {
    width: 95%;
    margin: auto;
  }
  .homeTitle {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .homeIntro {
    font-size: 22px;
    padding: 30px;
  }
  .formContainer {
    width: 95%;
    padding: 10px;
    padding-bottom: 50px;
  }
  .projects {
    display: block;
    
  }
  .project {
padding-bottom: 30px;
  }

  .form {
margin: 0;
padding: 40px
  }
}

@media (max-width: 750px) {
  .homeTitle {
    letter-spacing: 0px;
  }
}

@media (max-width: 700px) {
  .homeTitle {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .homeTitle {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
    padding-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .homeTitle {
    font-size: 26px;
    letter-spacing: 4px;
    line-height: 40px;
  }
  .gradientsection {
    padding-top: 130px;
  }
}

@media (max-width: 450px) {
  .homeIntro {
    font-size: 20px;
    padding: 15px;
  }
  .homeTitle {
    font-size: 25px;
    letter-spacing: 3px;
  }
}

@media (max-width: 400px) {
  .homeTitle {
    letter-spacing: 0px;
  }

  .homeIntro {
    font-size: 18px;
  }
  .gradientsection {
    padding-top: 120px;
  }
}

@media (max-width: 350px) {
  .homeTitle {
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 32px;
  }
}

@media (max-width: 300px) {
  .homeTitle {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
  }

  .homeIntro {
    font-size: 16px;
  }
}