.thankYou {
  padding: 100px;
  padding-top:200px;
  color: #0e1d30;
  height: 600px;
}

.thankYouMessage {
  background-color: rgba(159, 197, 209, 0.4);
  padding: 40px;
  margin: 40px;
  font-size: 4vh;
}
.return {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .thankYou {
    padding-top: 100px;
  }
}

@media (max-width: 800px) {
  .thankYou {
    padding-top: 80px;
   height: 100%;
  }
  .thankYouMessage {
    
  }
}


@media (max-width: 400px) {

}
