.thankYouPage {
height: 600px;
}
.thankYou {  
  padding-top:200px;
  color: #0e1d30;
  padding-bottom: 100px;
}

.thankYouMessage {
  background-color: rgba(159, 197, 209, 0.4);
  padding: 40px;
  margin: 40px;
  font-size: 4vh;
}
.return {
  cursor: pointer;
  max-width: 150px;
  margin: auto;
}
@media (max-width: 1000px) {
  .thankYou {
    padding-top: 100px;
  }
}

@media (max-width: 800px) {
  .thankYou {
   padding-bottom: 100px;
  }
 
}


@media (max-width: 400px) {

}
